# prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on
RewriteRule ^([^/].*)?$ /frontend/web/$1
RewriteRule ^([^/].*)?$ /backend/web/$1